/* START General Tags */
body, 
html {
	overflow: initial;
}

body {
	left: 0;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

nav ul li {
	font-weight: 600;
	line-height: 1;
	margin: 0;
	padding: 0;
	letter-spacing: -0.03em;
}
/* END General Tags */

/* START Container Nav and Main Divs */
#container-nav {
    position: fixed;
    width: 94vw;
    padding: 2vh 0 2vh 6vw;
    top: 0;
    z-index: 200;
    transition: 0.5s ease-in;
}

#container-nav-main-divs div {
	display: inline-block;
}

#logo h1 {
	padding: 0;
	margin: 0;
	line-height: 1;
	font-size: 1.5rem;
	font-weight: 700;
}

#container-nav-main-divs div {
    height: 1.5rem;
    vertical-align: top;
}

#nav-icon {
	margin-right: 0.5em;
}

#nav-icon img {
    position: relative;
    top: 50%;
    transform: translateY(-80%);
	height: auto;
	width: 1rem;
}
/* END Container Navs and Main Divs */

/* START Primary Nav */
#container-nav-primary {
    position: fixed;
    left: -80vw;
    transition: 0.25s ease-in-out;
    top: 0;
    background-color: black;
    color: white;
    width: 80vw;
    height: 100vh;
    overflow: auto;
}

#container-nav-primary nav ul {
    padding: 1em 0 0 0;
}

#nav-items-primary ul li {
    border-top: 1px solid white;
    padding: 1em;
    width: 100%;
}
/* END Primary Nav */

/* START Header Nav */
#container-nav-header ul li {
    display: inline-block;
    margin: 0 1em 0.5em 0;
}

#container-nav-header ul li:last-child {
    margin-right: 0;
}

#container-nav-header nav {
    margin: 0.5em 0 0 0;
}
/* END Header Nav */

/* START Footer Nav */
#container-nav-footer, #copyright {
    width: 90vw;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    text-align: center;
}

#copyright {
    margin: 1em 0 0.5em 0;
}

#nav-items-footer ul li {
	padding: 0 0.5em;
	border-right: solid 1px white;
}

#nav-items-footer ul li:first-child {
	padding: 0 0.5em 0 0;
}
#nav-items-footer ul li:last-child {
	padding: 0 0 0 0.5em;
	border-right: none
}
/* END Footer Nav */

/* START Social Nav */
#nav-items-social ul li img {
	height: auto;
	width: 2rem;
}

#container-nav-primary #nav-items-social ul li,
#container-nav-footer #nav-items-social ul li {
    margin: 1em;
}
/* END Social Nav */

/* START Multiple Nav */
#nav-items-footer ul li,
#nav-items-header ul li {
    font-size: 1.25rem;
}

#container-nav-footer ul,
#container-nav-primary #nav-items-social ul {
	justify-content: center;
}
/* END Multiple Nav */


/* START Micro Mobile Portrait */
@media (max-width: 320px){
	#container-nav-primary #nav-items-social ul li, #container-nav-footer #nav-items-social ul li {
	    margin: 0.75em;
	}

	#nav-items-footer ul li,
	#nav-items-header ul li {
	    font-size: 1rem;
	}
}
/* END Micro Mobile Portrait */

/* START Mobile Landscape */
@media (max-height: 420px){
	#nav-items-social ul li img {
	    width: 2.5rem;
	}
	#title-content h1 {
		font-size: 3.5rem;
	}
}
/* END Mobile Landscape */

/* START Landscape + Tablet + Laptop * Desktop */
@media (min-width: 421px){
	#container-nav-primary {
	    width: 50vw;
	}
}
/* END Landscape + Tablet + Computer */

/* START Tablet */
@media (min-width: 768px){
	#container-nav-primary {
	    width: 30vw;
	}

	#container-nav-footer {
		width: 70vw;
	}

	#logo h1 {
		font-size: 2rem;
	}

	#container-nav-main-divs div {
	    height: 2rem;
	}

	#nav-icon img {
    	transform: translateY(-50%);
		width: 1.5rem;
	}
}
/* END Tablet */

/* START Desktop */
@media (min-width: 1200px){
	#logo h1 {
		font-size: 3rem;
	}

	#container-nav-main-divs div {
	    height: 3rem;
	}

	#container-nav-footer {
		width: 60vw;
	}

	#nav-icon img {
		width: 2rem;
	}
}
/* END Desktop */