body, html {
	overflow: initial;
}

body {
	left: 0;
}

#container-nav-mobile {
	top: 0;
    display: initial;
    position: fixed;
    left: -80vw;
    z-index: 200;
    text-align: center;
    transition: 0.1s;
}

#nav-mobile {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 65vw;
    background-color: white;
    height: 100vh;
    left: 0;
    z-index: 210;
    color: black;
}

#nav-mobile ul {
    position: relative;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    top: 1em;
}

#nav-mobile ul#nav-mobile-categories {
    justify-content: left;
}

#nav-mobile ul li {
    font-size: 1.25rem;
    width: 32.5vw;
    text-align: center;
    margin: 1em 0;
}

#nav-mobile ul#nav-mobile-categories li {
    font-size: 1rem;
    width: 100%;
    text-align: left;
    margin: 0;
    border-top: 1px solid #e0e0e0;
    padding: 0.75em 1em;
}

#container-nav-desktop {
	display: none;
}

#nav-icon {
    display: inline-block;
    position: fixed;
    left: 6vw;
    font-size: 2rem;
    line-height: 1em;
    z-index: 201;
}

#nav-icon img {
    width: 1.5rem;
    height: auto;
    line-height: 1em;
}

#nav-mobile-social img {
    height: auto;
    width: 3em;
}

#nav-desktop-social li img {
    height: auto;
    width: 1.5em;
}

#nav-desktop {
    z-index: 110;
    top: 2.5em;
}

#container-nav-desktop nav {
    position: fixed;
    display: block;
    width: 100vw;
    text-align: center;
}

#container-nav-desktop nav ul {
    margin: 0.5em 0;
    padding: 0;
}

#container-nav-desktop nav ul li {
	display: inline-block;
	margin: 0 0.5em;
	font-size: 1.5rem;
}


/* START Landscape */
@media (max-height: 420px) {
	#nav-mobile {
		width: 50vw;
	}

	#nav-mobile ul li {
		width: 10vw;
	}

	#nav-mobile-social img {
	    width: 2em;
	}
}
/* END Landscape */

/* START Micro Landscape */
@media (max-height: 320px) {
	#nav-mobile ul li {
		width: 12vw;
	}

	#nav-mobile ul#nav-mobile-categories li {
		font-size: 0.75rem;
	}
}
/* END Micro Landscape */

/* START Tablet and Above */
@media (min-width: 420px) and (min-height: 420px) {
	#container-nav-desktop {
		display: initial;
	}

	#container-nav-mobile {
		display: none !important;
	}

}
/* END Tablet and Above */
/* START Computer */
@media (min-width: 1200px){
	#nav-desktop {
	    top: 3em;
	}
	#container-nav-desktop nav ul li {
		font-size: 2rem;
	}
}

/* END Computer */