body, html {
	overflow: initial;
}

body {
	left: 0;
}

#container-nav {
	top: 0.5em;
    display: initial;
    position: fixed;
    left: -80vw;
    z-index: 200;
    text-align: center;
    transition: 0.4s ease-out;
}

#nav-inner {
    position: absolute;
    top: -0.5em;
    display: inline-block;
    width: 65vw;
    background-color: #000;
    height: 100vh;
    left: 0;
    z-index: 210;
    color: #fff;
}

#nav-inner ul {
    position: relative;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    top: 1em;
}

#nav-inner ul#nav-categories {
    justify-content: left;
}

#nav-inner ul li {
    font-size: 1.25rem;
    width: 32.5vw;
    text-align: center;
    margin: 1em 0;
}

#nav-inner ul#nav-categories li {
    font-size: 1rem;
    width: 100%;
    text-align: left;
    margin: 0;
    border-top: 1px solid #e0e0e0;
    padding: 0.75em 1em;
    font-weight: 600;
}

#container-nav #logo {
    z-index: 110;
    position: fixed;
    left: calc(6vw + 1.25rem);
    margin-left: 1rem;
}

#container-nav #logo h1 {
    font-size: 1.5rem;
    line-height: 1;
}

#nav-icon {
    display: inline-block;
    position: fixed;
    left: 6vw;
    z-index: 201;
}

#nav-icon a {
    font-size: 1.5rem;
    line-height: 1;
}

#nav-icon img {
    width: 1.25rem;
    height: auto;
    line-height: 1;
}

#nav-social img {
    height: auto;
    width: 3em;
}

#nav-screen {
    width: 100vw;
    background-color: #000;
    opacity: 0;
    height: 1em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.25em 0;
    font-size: 2rem;
}

/* START Landscape */
@media (max-height: 420px) {
	#nav-inner {
		width: 50vw;
	}

	#nav-inner ul li {
		width: 10vw;
	}

	#nav-social img {
	    width: 2em;
	}
}
/* END Landscape */

/* START Micro Landscape */
@media (max-height: 320px) {
	#nav-inner ul li {
		width: 12vw;
	}

	#nav-inner ul#nav-categories li {
		font-size: 0.75rem;
	}
}
/* END Micro Landscape */

/* START Tablet */
@media (min-width: 768px) {
	#nav-inner {
        width: 50vw;
    }

    #nav-inner ul#nav-categories li {
        font-size: 1.25rem;
    }

    #nav-inner ul li {
        width: 10vw;
    }

    #nav-icon a {
        font-size: 2rem;
    }

    #nav-icon img {
        width: 2rem;
        }

    #container-nav #logo {
        left: calc(6vw + 2rem);
    }

    #container-nav #logo h1 {
        font-size: 2rem;
    }

}
/* END Tablet */

/* START Desktop */

@media (min-width: 1200px) {
    #nav-inner {
        width: 40vw;
    }

    #nav-inner ul li {
        width: 8vw;
    }

    #nav-icon a {
        font-size: 3rem;
    }

    #nav-icon img {
        width: 3rem;
        }

    #container-nav #logo {
        left: calc(6vw + 3rem);
    }

    #container-nav #logo h1 {
        font-size: 3rem;
    }

    #nav-screen {
        font-size: 3rem;
    }
}

/* END Desktop */