body {
	background-color: black;
	color: white;
}

h1, h2, h3, h4, h5, h6, nav ul li {
	font-family: 'din-2014', futura-pt, 'helvetica neue', helvetica, sans-serif;
	font-weight: 600;
	/*text-transform: uppercase;*/
	line-height: 0.9em;
	margin: 0;
	padding: 0;
}

#logo {
	position: absolute;
	width: 100vw;
	text-align: center;
	z-index: 100;
}

#logo h1 {
	font-size: 2rem;
	line-height: 1em;
	text-transform: initial;
}

.article {
    background-position: center;
    background-size: cover;
    width: 100vw;
    position: relative;
}

.article-primary {
    height: 70vh;
    min-height: 300px;
}

.article-secondary {
    height: 40vh;
    min-height: 250px;
}

.article-tertiary {
    height: 20vh;
    min-height: 150px;
    background-position: bottom center;
}

.article-tertiary .article-content .excerpt {
	display: none;
}

.article-content {
    position: absolute;
    top: 50%;
    width: 90vw;
    left: 5vw;
    transform: translateY(-50%);
    z-index: 99;
}

.article-primary .article-content h1 {
	font-size: 3rem;
	/*letter-spacing: -0.05em;*/
}
.article-secondary .article-content h1 {
	font-size: 2rem;
	/*letter-spacing: -0.05em;*/
}
.article-tertiary .article-content h1 {
	font-size: 1.5rem;
	/*letter-spacing: -0.05em;*/
}

.bg-screen {
	position: absolute;
	width: 100vw;
	background-color: rgba(0,0,0,0.3);
	z-index: 90;
}

.article-data {
    margin-bottom: 1em;
}

.article-data h2, .excerpt p {
    font-family: /*halyard-display,*/acumin-pro;
}

.article-data h2 {
    text-transform: none;
    display: inline-block;
    font-size: 1rem;
    margin-right: 1em;
    font-weight: 400;
 }

.excerpt p {
	line-height: 1em;
	font-weight: 300;
	font-size: 1rem;
}

.excerpt-ellipses {
	display: initial;
}

.excerpt-desktop {
	display: none;
}

nav {
	display: none;
}

@media (max-width: 320px), (max-height: 320px){
	.article-primary .article-content h1 {
    	font-size: 2.5rem;
    }


	.article-secondary .article-content h1 {
    	font-size: 1.75rem;
    }

	.article-tertiary .article-content h1 {
    	font-size: 1.25rem;
    }

    .article-primary {
    	height: 90vh;
    	min-height: 360px;
    }

    .article-secondary {
    	height: 60vh;
    }

    .article-tertiary {
    	height: 30vh;
    }
}

@media (min-width: 420px) and (min-height: 420px) {
	#nav-main {
	    z-index: 110;
	    top: 3em;
	}

	nav {
	    position: absolute;
	    display: block;
	    width: 100vw;
	    text-align: center;
	}

	nav ul {
		margin: 0;
		padding: 0;
	}

    nav ul li {
    	display: inline-block;
    	margin: 0 0.5em;
    	font-size: 1.5rem;
    }

}

@media (min-width: 768px) {
	.article-primary {
		height: 65vh;
		min-height: 620px;
	}

	.article-primary .article-content {
	    top: calc(50% + 4rem);
	}

	#logo h1 {
		font-size: 2.5rem;
	}

	.article-primary .article-content h1 {
    	font-size: 5.5rem;
    }

    .article-data h2 {
    	font-size: 2rem;
    }

    .article-secondary .article-data h2 {
    	font-size: 1.5rem;
    }

    .excerpt p {
    	font-size: 1.5rem;
    }

	.article-secondary .article-content h1 {
    	font-size: 4rem;
    }

	.article-tertiary .article-content h1 {
    	font-size: 1.25rem;
    }

    #metasec-secondary {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

    #metasec-tertiary {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.article-secondary, .bg-screen.article-secondary {
    	width: 100vw;
    	height: 35vh;
    	min-height: 320px;
	}

	.article-secondary .article-content {
    	width: 90vw;
    	left: 5vw;
    	text-align: left;
	}

	.article-tertiary {
    	width: 50vw;
    	min-height: 320px;
	}

	.article-tertiary .article-content {
		width: 40vw;
	}

	.article-tertiary .article-content h1 {
    	font-size: 2rem;
	}

	.article-tertiary .article-data {
    	margin: 0.5em 0 0 0;
	}

	.article-tertiary .article-data h2 {
    	font-size: 1.5rem;
	}
}

@media (min-width: 1224px){
	.article-primary {
		height: 200vh;
	}

	.article-primary .article-content {
	    top: 15%;
	    transform: none;
	}

	.article-primary .article-content h1 {
    	font-size: 6rem;
    }

    .excerpt p {
    	font-size: 1.25rem;
    }

    #metasec-secondary {
	    position: absolute;
	    z-index: 110;
	    top: 70vh;
	    width: 90vw;
	    left: 5vw;
	}

	.article-secondary, .bg-screen.article-secondary {
	    width: 90vw;
	    height: 35vh;
	    min-height: 0;
	    margin-bottom: 5vh;
	}

	.article-secondary .article-content {
    	top: 50%;
    	transform: translateY(-50%);
	}
}