/* START Mobile */
/* START Tags */
p {
	font-size: 1rem;
	line-height: 1em;
}

/* END Tags */
/* START General */

.article {
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-screen {
	position: absolute;
	background-color: rgba(0,0,0,0.3);
	z-index: 90;
}

.article,
.bg-screen {
	width: 100vw;
}

.article-content {
    position: absolute;
    top: 50%;
    width: 90vw;
    left: 5vw;
    transform: translateY(-50%);
    z-index: 99;
}

.article-data {
    margin: 0.25em 0 1em 0;
    line-height: 1em;
}

.article-data h2 {
    display: inline-block;
    margin-right: 0.5em;
    font-weight: 400;
 }

.excerpt p {
	font-weight: 200;
}

/* END General */
/* START Primary Articles */

.article-primary,
.article-primary .bg-screen {
    height: 100vh;
    min-height: 300px;
}

.article-primary h1 {
	font-size: 3.25rem;
}

.article-primary h2 {
	font-size: 1.75rem;
}

.article-primary p {
	font-size: 1.25rem;
}

/* END Primary Articles */
/* START Secondary Articles */

.article-secondary,
.article-secondary .bg-screen {
    height: 50vh;
    min-height: 150px;
}

.article-secondary {	
    background-position: center;
}


.article-secondary h1 {
	font-size: 2.5rem;
}

.article-secondary h2 {
	font-size: 1.5rem;
}

/* END Secondary Articles */
/* END Mobile */

/* START Micro Mobile */

@media (max-width: 320px),
(max-height: 320px){
	/* START Primary Articles */
	.article-primary,
	.article-primary .bg-screen {
		height: 100vh;
		min-height: 360px;
	}

	.article-primary h1 {
	    font-size: 2.5rem;
	}

	.article-primary h2 {
	    font-size: 1.25rem;
	}

	.article-primary p {
		font-size: 1rem;
	}

	/*END Primary Articles */
	/* START Secondary Articles */

	.article-secondary,
	.article-secondary .bg-screen {
		height: 30vh;
	}

	.article-secondary h1 {
		font-size: 2rem;
	}

	.article-secondary h2 {
		font-size: 1rem;
	}

	.article-secondary .excerpt {
		display: none;
	}

	/* END Secondary Articles */

}

/* END Micro Mobile */
/* START Tablet */

@media (min-width: 768px){

	/* START General */

	.article-data h2 {
		font-size: 2rem;
	}

	.excerpt p {
		font-size: 1.5rem;
	}

	/* END General */
	/* START Primary Article */

	.article-primary,
	.article-primary .bg-screen {
		height: 80vh;
		min-height: 620px;
	}

	.article-primary .article-content h1 {
		font-size: 5.5rem;
	}

	/* END Primary Article */
	/* START Secondary Articles */

	.article-secondary .article-content h1 {
		font-size: 4rem;
	}

	.article-secondary .article-data h2 {
		font-size: 1.5rem;
	}

	#metasec-secondary {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.article-secondary,
	.article-secondary .bg-screen {
		width: 100vw;
		min-height: 480px;
	}

	.article-secondary .article-content {
		width: 90vw;
		left: 5vw;
		text-align: left;
	}

	/* END Secondary Articles */

}

/* END Tablet */
/* START Computer */

@media (min-width: 1200px){

	/* START Primary Article */

	.article-primary .article-content {
		width: 80vw;
	}

	.article-primary .article-content h1 {
	    font-size: 7rem;
	}

	.article-data h2 {
	    font-size: 3rem;
	}

	.article-primary .article-data {
	    margin: 0 0 3em 0;
	}

	.article-primary p {
		font-size: 2rem;
	}

	/* END Primary Article */
	/* START Secondary Article */

	.article-secondary .article-content h1 {
	    font-size: 6rem;
	}

	.article-secondary .article-data h2 {
	    font-size: 2rem;
	}

	.article-secondary p {
		font-size: 1.75rem;
	}

	/* End Secondary Article */

}

/* END Computer */